



/* ContactUsPage.css */

.contact-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: hsl(0, 0%, 100%);
}

.contact-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}



/* footer css */

/* Footer.css */

.footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0;
}

.footer h4 {
  color: #fff;
}

.footer p {
  color: #ccc;
}

.social-links {
  list-style: none;
  padding: 0;
}

.social-links li {
  display: inline;
  margin-right: 10px;
}

.social-links li a {
  color: #fff;
  text-decoration: none;
}

.social-links li a:hover {
  color: #ccc;
}

/* footer css */

.footersocialbtn{

  padding: 10px;
  background-color: #2a2f35;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}




.footersocialbtn:hover {
background-color: #2a4b6d;
}